#canvas {
    /*Změna pozadí samotného canvasu*/
    background-image: url('images/inside.png');
}

#game {
    /*Umístění canvasu na střed stránky*/
    text-align: center;
}

body {
    /*Změna pozadí celé stránky*/
    background-image: url("images/outside.png");

    font-family: 'Bitter', serif;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 20px auto 10px auto;
}

header img {
    margin-right: 10px;
}

#score, #time {
    font-size: 20px;
}

button {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 60px;
    border: 5px solid #ffc04b;
    font-family: 'Bitter', serif;
    color: white;
    background: linear-gradient(to bottom, #275786, #0e234d);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
 
#end {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    background-color: #28529d;
    border: 5px solid #ffc04b;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}