#canvas {
    background-image: url('images/inside.png');
}

#game {
    text-align: center;
}

body {
    color: black;
    font-family: 'calibry';
    background-image: url('images/outside.png');
    font-family: 'Bitter', serif;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 20px auto 10px auto;
}

header img {
    height: 30px;
    margin-right: 10px;
}

#score, #time {
    font-size: 20px;
}

button {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 20px;
    line-height: 1;
    border-radius: 60px;
    border: 5px solid #ffc04b;
    color: white;
    background: linear-gradient(to bottom, #275786, #0e234d);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    outline: 0;
    transition: all 0.2s;
}

#end {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#end p {
    font-size: 2rem;
}

#content {
    text-align: center;
    line-height: 1.5;
}